<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lotto</title>
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Indie+Flower&display=swap" rel="stylesheet">
    <style>
        .font {
            color: cornflowerblue;
            font-size: 60px;
            font-style: italic;
            font-weight: 400; /* 100-900 */
            font-family: 'Ubuntu','Pacifico','East Sea Dokdo','Indie Flower',Fantasy,'Times New Roman',Times,Cursive,Serif; /*san-serif*/
        }

    </style>
</head>
<body>
    <p class="font">추천 번호</p>
    <p class="font">
        이름 : {{ name }} <br><br>
        추천번호 : {{ lotto }}<br><br>
    </p>
    <form action="/name/">
        <input type="submit" value="返回"><br>
    </form>
</body>
</html>