{% extends 'boards/base.html' %}
{% block body %}
<h1 class="text-center">글 수정하기</h1>
<hr>
<form action="/boards/{{board.pk}}/update/" method="POST">
    {%csrf_token%}
    <label for="title">제목</label><br>
    <input type="text" name="title" id="title" value="{{board.title}}"><br>
    <label for="content">내용</label><br>
    <textarea name="content" id="content" cols="30" rows="10">{{board.content}}</textarea><br>
    <input type="submit" value="제출">
</form>
<br>
<a href="/boards/">[메인페이지]</a>
{% endblock %}